[submodule "deps/samp-plugin-sdk"]
	path = deps/samp-plugin-sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk
[submodule "deps/cmake-modules"]
	path = deps/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
